playwright
selenium
webdriver-manager
pandas
xlrd
flask
flask-login
flask-sqlalchemy
python-dotenv
requests
json
dotenv
os
flask-migrate
unstructured[all-docs]
langchain
langchain-openai
langchain-chroma